<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>Mybrary</title>
    <style>
      .containerA {
        width: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      h1 {
        font-size: 100px;
      }

      .btn {
        width: 400px;
        display: flex;
        justify-content: space-between;
      }

      button {
        font-size: 30px;
      }

      .containerB {
        width: 800px;
        display: flex;
      }

      .cardA {
        background-color: #e58585;
      }

      .cardB {
        background-color: #d7bc92;
      }

      .cardC {
        background-color: #d9e0a4;
      }

      .cardD {
        background-color: #a9d39c;
      }

      .cardE {
        background-color: #9ae3d7;
      }

      .cardF {
        background-color: #8f9ecd;
      }

      .panel {
        height: 400px;
        background-size: cover;
        flex: 0.5;
        border-radius: 50px;
        margin: 10px;
        cursor: pointer;
        -webkit-transition: all 600ms ease-in;
      }

      .active {
        flex: 5;
      }

      @media only screen and (max-width: 960px) {
        .containerB,
        .containerA {
          width: 400px;
        }

        .panel {
          height: 200px;
        }
      }
    </style>
  </head>
  <body>
    <%- include('../partials/header.ejs') %><%- body %>
  </body>
</html>
